@media (max-width: 1080px) {
    //не выводим для мобильной версии
    .mobile {
        display: inline-block;
    }
    .pc, .nav_help {
        display: none;
    }
    //общие настройки
    .wrapper {
        min-width: 320px;
    }
.container {
    width: 320px;
    padding: 0 20px;
    overflow: hidden;
    margin: 0 auto;
}
    //шапка
    .header {
        padding: 15px 0 0 0;
        overflow: visible;
        width: 100%;
    }
    .nav_logo {
        height: 45px;
        background-size: 80%;
        margin-left: 20px;
    }
    .nav_lang {
        position: relative;
        color: $Blue;
        background-color: transparent;
    }
    .nav_lang_menu {
        position: absolute;
        background-color: $lBlue;
        padding-left: 8px;
        border-radius: 0 0 7px 7px;
        height: 0;
        @include flexbox();
            @include flex-direction(column);
            @include align-items(flex-start);
            @include justify-content(space-between);
            overflow: hidden;
        span {
            height: 30px;
        }
    }
    .nav_lang::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/ico/lang.svg) center no-repeat;
        position: absolute;
        top: 5px;
    }
    .nav_lang:hover {
        background-color: transparent;
    }
    .nav_lang_menu_visible {
            width: 50px;
            height: 60px;
        transition: 200ms;
    }
    //доп кнопка для закрытия менюшек
    .nav_close {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 40px;
        outline: 1px solid red;
        /*opacity: 0;*/
        z-index: 50;
        display: none;
    }
    .nav_close_lang {
        display: inline-block;
    }
    .nav_close_menu {
        display: inline-block;
        width: 50px;
        left: 150px;
    }
    //доп кнопка для закрытия менюшек 
    .menu_open {
        position: absolute;
        top: 2px;
        right: 23px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../img/ico/menu_dark.svg) center no-repeat;
    }
    //навигация
    .nav_menu {
        width: 212px;
        height: 45px;
        padding-left: 100px;
        background-position: left;
        background-size: 150%;
        margin: 0;
        position: relative;
        overflow: visible;
    }    
    .menu {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        /*display: none;*/
        height: 0;
        width: 210px;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: 50;
        background-color: $lBlue;
        border-radius: 10px 0 0 10px;
        transition: 200ms;
        overflow: hidden;
    }
    //стиль для развёртывания меню
    .menu_visible {
        height: 160px;
        /*display: block;
        opacity: 1;*/
    }
    .menu_item {
        width: 210px;
        height: 30px;
        z-index: 50;
        a {
            line-height: 30px;
            height: 30px;
            padding: 0;
            width: 100%;
            text-align: center;
            color: #fff;
        }
        
    }
    .menu_item_current {
        border: 0;
        a {
           color: $Blue; 
        }
        
    }
    
    //footer
    .footer {
        min-width: 320px;
        border-radius: 30px 30px 0 0;
        background-image: none;
        background-color: #5ABDEB;
        
        z-index: 10;
        .container {
            width: 300px;
            margin: 0 auto;
            padding: 10px 35px;
            @include flex-direction(column);
        }
    }
    .footer_item {
        border: 0;
        width: 100%;
        padding: 0;
    }
    .footer_item:nth-child(3) {
        padding: 10px 0 0 150px;
        margin-top: -180px;
    }
    .developed {
        width: 230px;
        background-position: 120px 30px;
    }
    
    //index
    .title_description {
        margin-top: -10px;
    }
    .urgent {
        height: 700px;
    }
    .urgent_content {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(space-between);
        background-color: transparent;
    }
    .urgent_photo {
        width: 220px;
        height: 220px;
        left: 30px;
        border-radius: 50%;
        background-color: #E3E3E3;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        overflow: hidden;
    }
    .urgent_button, .urgent_progress {
        display: none;
    }
    .urgent_photo {
        position: absolute;
        span {
            display: none;
        }
    }
    .urgent_text {
        width: 100%;
        text-align: center;
    }
    .urgent_info {
        margin-top: 170px;
        
    }
    .urgent_details {
        width: 100%;
        padding: 0;
    }
    //news
    .news {
        .slick-list {
            overflow: visible;
        }
    }
    .news_wrapper {
        margin-left: 50px;
    }
    .news_item {
        margin-right: 20px;
    }
    //subscribe 
    .subscribe {
        position: relative;
        height: 430px;
        margin-top: 330px;
        outline: 1px solid red;
        .container {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(space-between);
            overflow: visible;
        }
        .subscribe_input {
            height: 50px;
        }
        .subscribe_form {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            height: 175px;
            width: 100%;
        }
        .subscribe_button {
            width: 100%;
        }
    }
    .subscribe_item {
        width: 100%;
        height: 370px;
        margin-top: 40px;
        span {
            margin-bottom: -20px;
        }
        p {
            width: 100%;
        }
    }
    .subscribe_item_1 {
        position: relative;
        z-index: 5;
        margin-top: -320px;
        left: 0;
        height: 250px;
        width: 100%;
        padding: 0 10px;
        border: 0;
        .subscribe_button {
            display: none;
        }
    }
}