.shop_wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
}

//шапка
.shop_header {
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(space-between);
    margin-bottom: 70px;
}

.shop_header_item {
    width: 360px;
    h2 {
        color: #333333;
        font-family: 'GothamPro-Bold';
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
    p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }
}

.shop_header_item:last-child {
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    height: 110px;
}

//корзина
.cart {
    position: relative;
    padding-right: 20px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    width: 230px;
    background-color: #F7F7F7;
    height: 50px;
    border-radius: 10px;
}

.cart::after {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: '';
    background: url(../img/ico/cart.svg) center no-repeat;
    right: 51px;
    top: 5px;
}

.cart_link {
    display: inline-block;
    background-color: $lBlue;
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    border-radius: 10px 0 0 10px;
    transition: 200ms;
}

.cart_link:hover {
    background-color: darken($lBlue, 10%);
}

.cart_value {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #DD4B39;
    border-radius: 50%;
    cursor: default;
}

//элемент
.shop_item {
    position: relative;
    width: 360px;
    height: 440px;
    border-radius: 30px;
    background-color: #F7F7F7;
    padding-bottom: 55px;
    transition: 200ms;
    a {
        text-decoration: none;
    }
}

.shop_item:hover {
    -webkit-box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
}

//отступы для центрального элемента
.shop_item:nth-child(3n+2) {
    margin: 0 50px 60px;
}

.shop_img_wrapper {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}

.shop_content {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(space-between);
    padding: 25px 20px 0;
    height: 75px;
    * {
        padding: 0;
        margin: 0;
    }
    h3 {
        font-size: 18px;
        line-height: 25px;
        color: $Blue;
        letter-spacing: 0.1px;
    }
    span {
        color: #333333;
        letter-spacing: 0.1px;
        font-size: 16px;
    }
    a {
        color: #333333;
    }
}

//цена
.shop_price {
    position: absolute;
    top: 230px;
    right: 20px;
    background-color: #DD4B39;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 18px;
    font-family: 'GothamPro-Bold';
}

//кнопка добавления в корзину
.shop_add {
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 120px;
    font-size: 12px;
    font-family: 'GothamPro-Bold';
    color: #fff;
    background-color: $lBlue;
    width: 120px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 0;
    transition: 200ms;
}

.shop_add:hover {
    background-color: darken($lBlue, 10%);
}

//страница товара
.navigation_shop {
    overflow: visible;
    width: 840px;
    .navigation_item {
        position: relative;
        width: 180px;
    }
    .navigation_link {
        width: 180px;
    }
}
.navigation_item:last-child::after {
    display: none;
}
//счётчик корзины
.navigation_cart {
    display: inline-block;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #DD4B39;
    color: #fff;
        font-family: 'GothamPro-Bold';
        font-size: 14px;
}
.navigation_shop_single {
    width: 180px;
}

.unit {
    @include flexbox();
    @include justify-content(space-between);
    margin-bottom: 80px;
}

//слайдер
.unit_left {
    width: 520px;
    height: 520px;
    border-radius: 30px;
    overflow: hidden;
    .slick-next {
        right: 15px;
        width: 40px;
        height: 40px;
    }
    .slick-prev {
        z-index: 5;
        left: 15px;
        width: 40px;
        height: 40px;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 40px;
        font-weight: 100;
        line-height: 1;
    }
    .slick-dots {
        bottom: 20px;
        border-color: #fff;
        color: #fff;
    }
    .slick-dots li button:before {
        color: #fff;
        font-size: 10px;
    }
    .slick-dots li.slick-active button::before {
        color: #fff;
    }
}

//описание
.unit_right {
    width: 550px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    span {
        color: #333333;
        letter-spacing: 0.1px;
        font-size: 16px;
    }
    h3 {
        font-family: 'GothamPro-Medium';
        color: $Blue;
        font-size: 34px;
        line-height: 49px;
        margin-bottom: 0;
    }
    h2 {
        font-family: 'GothamPro-Medium';
        color: $Blue;
        font-size: 42px;
        margin: 20px 0;
    }
    span a {
        color: #333333;
        text-decoration: none;
    }
}

.unit_color {
    @include flexbox();
    margin: 25px 0 50px;
}

.color_item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6a8e82;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.color_item_active {
    position: relative;
    background-image: url(../img/ico/pick.svg);
    background-position: center 10px;
    background-repeat: no-repeat;
}

//кнопки
.unit_buy,
.unit_cart {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    width: 120px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    font-family: 'GothamPro-Bold';
    transition: 200ms;
}

.unit_buy {
    color: #fff;
    background-color: $lBlue;
    padding: 3px 0;
}

.unit_buy:hover,
.unit_cart:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.unit_cart {
    color: $lBlue;
    border: 2px solid $lBlue;
    padding: 1px 0;
}

//заказ шаг 2
///////////////
.cart_wrapper {
    width: 750px;
    margin: 0 auto;
    padding-right: 80px;
}

.cart_list {
    width: 100%;
}

.cart_item {
    position: relative;
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 30px;
    h3 {
        width: 260px;
        font-size: 16px;
        font-family: 'GothamPro-Medium';
        color: $Blue;
    }
}

.cart_img_wrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 30px;
    img {
        height: 100%;
    }
}

//счётчик
.cart_count {
    background-color: #F7F7F7;
    border-radius: 10px;
    height: 160px;
    width: 90px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(space-between);
    transition: 200ms;
}

.count_plus,
.count_value,
.count_minus {
    display: inline-block;
    width: 100%;
    height: 30%;
    font-family: 'GothamPro-Medium';
    color: #C4C4C4;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    transition: 200ms;
}

.count_plus,
.count_minus {
    opacity: 0;
}

.count_value {
    height: 40%;
    font-size: 48px;
    color: #C4C4C4;
    cursor: default;
    line-height: 60px;
}

.cart_price {
    width: 130px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}

.price_value {
    color: #333333;
    font-family: 'GothamPro-Bold';
    font-size: 20px;
}

//удаление товара
.cart_remove {
    display: none;
    opacity: 0;
    position: absolute;
    right: -50px;
    top: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F7F7F7;
    background-image: url(../img/ico/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 200ms;
    cursor: pointer;
}

//item при наведении
.cart_item:hover {
    transition: 200ms;
    background-color: #F7F7F7;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    .cart_count {
        background-color: #EBEBEB;
    }
    .count_plus,
    .count_value,
    .count_minus {
        opacity: 1;
    }
    .count_value {
        color: #808080;
    }
    .cart_remove {
        display: inline-block;
        opacity: 1;
        z-index: 10;
    }
}

.cart_item::after {
    display: inline-block;
    content: '';
    opacity: 0;
    position: absolute;
    width: 80px;
    height: 160px;
    right: -80px;
    top: 0;
    outline: 1px solid red;
    background-color: red;
    z-index: 8;
}

//кнопки
.cart_buttons {
    width: 540px;
    margin: 0 auto;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 100px;
}

.cart_amount {
    background-color: #DD4B39;
    width: 260px;
    height: 50px;
    padding: 0 50px;
    font-family: 'GothamPro-Bold';
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
}

.cart_buy {
    width: 260px;
    height: 50px;
    font-size: 12px;
    border-radius: 10px;
    background-color: $lBlue;
    font-family: 'GothamPro-Bold';
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    transition: 200ms;
}

.cart_buy:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    }

//оформление заказа
.order_form {
    width: 540px;
    margin: 0 auto;
    input,
    select {
        width: 260px;
        height: 50px;
        border: 1px solid $lBlue;
        border-radius: 10px;
        outline: 0;
        padding-left: 20px;
        transition: 200ms;
        margin-bottom: 20px;
        color: $Blue;
    }
    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $Blue;
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: $Blue;
    }
    input:-ms-input-placeholder {
        /* IE 10+ */
        color: $Blue;
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: $Blue;
    }
    textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $Blue;
    }
    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: $Blue;
    }
    textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: $Blue;
    }
    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: $Blue;
    }
    input:focus {
        height: 50px;
        background-color: #F7F7F7;
        color: $Blue;
    }
    textarea {
        width: 100%;
        border: 1px solid $lBlue;
        border-radius: 10px;
        outline: 0;
        padding-left: 20px;
        padding: 20px;
        transition: 200ms;
        color: $Blue;
    }
    textarea:focus {
        background-color: #F7F7F7;
    }
    //отправить
    input[type=submit] {
        margin: 0;
        background-color: $lBlue;
        color: #fff;
        cursor: pointer;
        padding: 0;
        font-family: 'GothamPro-Bold';
    }
    input[type=submit]:hover {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    }
}

.input_full {
    margin-right: 0;
    width: 100%!important;
}

.input_marg {
    margin-right: 15px;
}

.order_bottom {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 100px;
    margin-top: 30px;
}

.order_register {
    display: inline-block;
    width: 260px;
    height: 50px;
    border-radius: 10px;
    outline: 0;
    padding-left: 20px;
    transition: 200ms;
    margin: 0;
    background-color: #DD4B39;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    padding: 0;
    font-family: 'GothamPro-Bold';
}
.order_register:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    
}
//платёж
///////////
.payment {
    width: 1000px;
    height: 260px;
    border-radius: 10px;
    background-color: #F7F7F7;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    margin-bottom: 100px;
}
.payment_desc {
    width: 370px;
    padding: 30px;
    p {
        font-size: 12px;
    }
}