// VARS

$footer-height: 260px;
$container-width: 1180px;
$lBlue: #5ABDEB;
$Blue: #366880;
$hBlue: #385D6E;
* {
    box-sizing: border-box; 
}
/*.mobile {
        display: none !important;
    }*/
.mobile {
    display: none;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #fff;
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
}

p {
    color: #333333;
}
.wrapper {
    min-height: 100%;
    min-width: $container-width;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.wrapper::after {
    content: '';
    display: block; 
    height: $footer-height;
    overflow: hidden;
}
.container {
    width: $container-width;
    margin: 0 auto;
    @include flexbox();
    @include flex-direction(column);
}
.container__inner {
    width: 940px;
    margin: 0 auto;
}
.content {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 70px;
}
/*FOOTER*/

footer {
    height: $footer-height;
    min-width: $container-width;
    width: 100%;
    margin-top: -$footer-height;
}